.card-container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 10px;
  width: calc(100% -10px); /* -10px for padding */
}

@media screen and (min-width: 600px) {
  .test {
    display: flex;
    flex-direction: row;
  }

  .example-card {
    padding-right: 10px;
  }
}

@media screen and (max-width: 599px) {
  .test {
    display: flex;
    flex-direction: column;
  }

  .example-card {
    padding-top: 10px;
    padding-right: 10px;
  }
}
